.answers ol li button {
    margin-bottom: 10px !important;
}

body {
    overflow-x: hidden;
}

* {
    font-family: Helvetica, serif;
}

footer {
    background-color: #2F3780;
    padding: 10px;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}

header nav ul li * {
    color: dimgray;
}


header nav ul {
    text-align: left;
    margin-left: 20px;
}

footer p {
    color: white;
    text-align: center;
}

.title h1, .title h1 {
    margin-top: 0;
}

.box {
    border: 1px solid dimgrey;
}

footer p,
body,
html,
nav,
nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    color: white;
}

h1 {
    color: #2F3780;
}

button {
    border: #E9FFF9;
    padding: 10px;
    background-color: dimgrey;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

main {
    padding: 20px;
}

.search {
    display: flex;
    padding: 10px;
}

.selects {
    padding: 10px;
}

button:disabled {
    background-color: #848FA5;
    border: #848FA5;
    cursor: default;
}

.active {
    color: white;
}

main div {
    margin-top: 0;
    padding: 0 10px 10px;
}

main h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

.chapter-summary {
    margin-top: 0;
    padding: 0 15px 15px;
}

.chapter-summary h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

/*confetti*/

@keyframes confetti-slow {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
    }
}

@keyframes confetti-medium {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
    }
}

@keyframes confetti-fast {
    0% {
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
    }
    100% {
        transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
    }
}

.container {
    width: 100vw;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.confetti-container {
    margin: 0;
    padding: 0;
}

.confetti {
    position: absolute;
    top: -10px;
    border-radius: 0;
}

.confetti--animation-slow {
    animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti--animation-medium {
    animation: confetti-medium 1.75s linear 1 forwards;
}

.confetti--animation-fast {
    animation: confetti-fast 1.25s linear 1 forwards;
}

footer p {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
}

footer p a {
    color: white !important;
}

.box, .inside {
    background-color: white;
}

body {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: linear-gradient(30deg, #2F3780 12%, transparent 12.5%, transparent 87%, #2F3780 87.5%, #2F3780), linear-gradient(150deg, #2F3780 12%, transparent 12.5%, transparent 87%, #2F3780 87.5%, #2F3780), linear-gradient(30deg, #2F3780 12%, transparent 12.5%, transparent 87%, #2F3780 87.5%, #2F3780), linear-gradient(150deg, #2F3780 12%, transparent 12.5%, transparent 87%, #2F3780 87.5%, #2F3780), linear-gradient(60deg, #2F378077 25%, transparent 25.5%, transparent 75%, #2F378077 75%, #2F378077), linear-gradient(60deg, #2F378077 25%, transparent 25.5%, transparent 75%, #2F378077 75%, #2F378077);
    background-size: 70px 123px;
    background-position: 0 0, 0 0, 35px 61px, 35px 61px, 0 0, 35px 61px;
}

.figure, .figure-text {
    margin: 0;
    padding: 0;
}

.figure-name {
    margin-bottom: 5px;
}

.bank ol {
    margin: 0;
}

p {
    max-width: 1000px;
}

.app-icons {
    display: flex;
    align-items: center;
}

.vertical {
    width: 300px;
    flex-direction: column;
}

.android {
    width: 190px;
}

.apple {
    width: 150px;
}

.figure-img {
    height: 200px;
}

.wallpaper {
    height: 350px;
    width: 100%;
    background: url("https://picsum.photos/1920/2000") no-repeat fixed bottom;
    background-size: cover;
    padding: 0;
    margin: 0;
    justify-content: stretch;
    display: grid;
    align-items: flex-end;
}

.menu {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0;
    margin: 0;
}

.logo {
    position: absolute;
    top: 0;
}

html, body {
    background-color: #f9f9f9;
}
